@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif&display=swap');


span {
  font-family: "Roboto Mono", monospace;
  color: #111;
}

.sidebar {
  height: 100%;
  width: 250px;
  /* Defina uma largura fixa para o menu de gaveta */
  position: fixed;
  z-index: 1;
  top: 105px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  display: none;
  /* O menu de gaveta é inicialmente oculto */
  border-top-right-radius: 30px;
}

.sidebar button {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar button:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  padding: 30, 30, 30, 30;
  border-radius: 10px;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}